@media print {
    body.path-course-view{
        padding-top:0;
    }
    .path-course-view #page-header{
        display: none;
    }
    .path-course-view .navbar {
        display: none;
    }
    .path-course-view #wrapper {
        border-top: none;
        margin:0;
    }
    .path-course-view #page-header-nav{
        display:none;
    }
    .path-course-view #block-region-side-post{
        display: none;
    }
    .path-course-view #region-bs-main-and-pre{
        width: 100%;
    }
    .path-course-view .course-content #completionprogressid{
        display:none;
    }
    .path-course-view .back-to-top{
        display: none!important;
    }
    .path-course-view .responsive-video{
        border: 1px solid #cecece;
        width: 200px;
        padding-bottom: 100px;
    }
    .path-course-view .responsive-video::before{
        content:'Video';
        position: absolute;
        top: 39%;
        left: 41%;
        color: #cecece;
    }
    .path-course-view .usertour{
        display: none;
    }
}